
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headercontainer{
 background:  #000;
 width: 100%;
 height: 100px;
 padding-left: 40px;
  padding-right: 40px;
  padding-top: 17px;
  padding-bottom: 17px;
}
div.headerr{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.headerleft{
  
  display: flex;
  padding-left: 20px;
  
}
.centerthead{
  display: flex;
  align-items: center;
  padding-left: 480px;
}
.centerthead img{
  width:140px ;
  height:23.89px ;
 
}
.righthead{
  display: flex;
  float: right;
  padding-left: 470px;
  padding-top: 20px;
}
.righthead i{
  font-size: 30px;
}
.lefthead{
  padding-top: 20px;
  height: 56px;
    width: 50px;
}
.lefthead i{
  font-size: 30px;
}
.fa-solid fa-magnifying-glass{
  height: 59px;
  width: 50px;
}
.start{
  display: flex;
}
.firstline{
  padding-top: 120px;
  padding-left: 32px;
  font-family: Arial, Helvetica, sans-serif;
}
.secondline{
  padding-left: 32px;
  padding-top: 30px;
  line-height: 1.3;
  font-weight: bolder;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
}
.thirdline{
  padding-left: 32px;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  line-height: 20px; 
  
}
.fourthline{
  padding-left: 32px;

  color:white ;
}
.button{
 background-color: #000;
 color: white;
 height: 55px;
 width: 200px;
 font-size: medium;
}
.space{
  height: 200px;
  width: 100%;
}
.bodytext1{
  padding-left: 80px;
}
.bodytext2{
  padding-left: 80px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.imgeye{
  width: 10px;
}
.name{
  width: 40px;
  position: relative;

}
.imgeye2{
  width: 1330px;
  height: 550px;
  padding-left: 74px;
  padding-top: 40px;
}
.imgproduct{
  display: flex;
  position: relative;
  top: -130px;
  left: 170px;
}
.a123{
  height: 343.33px;
  width: 360.33px;
  padding: 10px;
  display: inline-block;
  position: relative;
}
.s1234{
  height: 343.33px;
  width: 360.33px;
  padding: 10px;
  position: relative;
  display: inline-block;
}
.n12345{
  height: 343.33px;
  width: 360.33px;
  padding: 10px;
  display: inline-block;
  position: relative;
  
}

  .whitebox{
    width: 250px;
    height: 62px;
  background-color: white;
  position: absolute;
  top: 135px;
  left: 60px;
  text-align: center;
  padding-top: 20px;
  }
  .whitebox2{
    width: 250px;
    height: 62px;
  background-color: white;
 position: absolute;
 top: 135px;
 text-align: center;
 padding-top: 20px;
 margin-left: 40px;
  }
  .whiteboxno3{
    width: 250px;
    height: 62px;
  background-color: white;
 position: absolute;
 text-align: center;
 margin-left: 40px;
 top: 135px;
 padding-top: 20px;
  }
  .try h1{
    display: flex;
    text-align: center;
    padding-left: 500px;
    padding-top: 50px;
    font-weight: bolder;

  }
  .try{
    background-color:#eee;
    width: 100%;
    height: 250px;
    margin-top: -90px;
  }
  .try p{
    padding-left: 350px;
    padding-top: 10px;
    font-weight: 500px;
  }
  .buttonlast button{
    background-color: #000;
    color: white;
    padding: 10px;
    margin-left: 550px;
    width: 260px;
    height:60px;
  }
  .buttonlast{
    padding-top: 30px;
  }
  .our{
    padding-top: 200px;
    padding-left: 600px;
    font-weight: bold;
  }
 .maindiv{
  display: flex;
  
 }
 .subdiv1{
  padding-top: 80px;
  padding: 80px;
 }
 .space{
  padding-top: 15px;
  height: 18px;
 }
 .write{
  padding-top: 40px;
  color:#707070 ;
 }
 .secondlast{
  background-color: #eee;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: space-around;
  padding: 100px;
 }
 .cont1{
  height: 230px;
  width: 380px;
  background-color: #fff;
 }
 .cont2{
  height: 230px;
  width: 380px;
  background-color: #fff;
 }
 .cont3{
  height: 230px;
  width: 380px;
  background-color: #fff;
 }
 .bigline{
  padding: 50px;
  line-height: 20px;
  text-align: center;
 }
 .darker{
  padding-top: 40px;
  padding-left: 50px;
 }
 .footer{
  height: 370px;
  background-color: #000;
  display: flex;
 }
 .footheading{
  color: white;
 }
 ul li a{
  color: white;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 400;
 }
 .footer1div{
  padding: 100px;
 }
 .footer2div{
  padding-top: 100px;
 }
 .footsub{
  padding-top: 30px;
 }
 .footpart2{
  height: 210px;
  background-color: #000;
 }
 hr{
  width: 1180px;
  margin-left: 100px;
 }
 .lasttext h5{
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
 }
 .lasttext{
  padding-top: 40px;
 }
.qwerty{
  margin-top: 60px;
  margin-left: 95px;
}
.face{
 width: 50px; 
}
.lasticons{
  display: flex;
}
.face i{
  font-size: 30px;
}
.insta i{
  font-size: 30px;
}
.rtop2{
  padding-left: 30px;
}
.rtop3{
  padding-left: 30px;
}
.rrtop2{
  padding-left: 20px;
}